@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fast-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(1440deg);
	}
}

.fast-spin {
	animation: fast-spin 2s linear;
}

@keyframes throbbing {
	0% {
		opacity: 0.8;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.8;
	}
}

@keyframes custom-pulse {
	0% {
		opacity: 0.3;
		transform: scale(0.95);
	}
	50% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0.3;
		transform: scale(0.95);
	}
}
